
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* === Auth Wrapper === */
.auth-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: hidden;
    min-height: 70%;
    min-width: 70%;
    box-shadow:var(--sky-box-shadow-tertiary);
    border: var(--sky-border-tertiary);
    border-radius: var(--sky-radius-tertiary);
  }

  .auth-info{
    color: #fff;
  }

.dialog-title {
    font-size: var(--sky-font-size-lg);
    font-weight: bold;
    color: var(--sky-active-primary);
  }
.dialog-subtitle {
    font-size: var(--sky-font-size-md);
    color: var(--sky-text-secondary);
  }

  .form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sky-font-size-md);
    margin-bottom: var(--sky-font-size-lg);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: var(--sky-font-size-md);
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  .auth-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, var(--sky-text-primary), var(--sky-text-tertiary));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease;
    z-index: 2;
    pointer-events: none;
  } 
  
  .auth-wrapper.login .auth-overlay {
    transform: translateX(100%);
  }
  
  .auth-info {
    text-align: center;
    padding: var(--sky-font-size-lg);
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    gap: var(--sky-font-size-md);

  }
  
  .auth-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--sky-font-size-3xl) var(--sky-font-size-xl);
  }

  .login-slot,
.register-slot {
  background: var(--sky-glass-primary);
}

.auth-fields{
    display: flex;
    flex-direction: column;
    gap: var(--sky-font-size-md);
}
  
.auth-inner {
    width: 100%;
    height: 100%;
    padding: var(--sky-font-size-xl);
  }
  
  
  .toggle-btn {
    background: none;
    border: none;
    color: var(--sky-text-dark);
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  

  
  /* === Form fields === */
  .auth-fields {
    display: flex;
    flex-direction: column;
    gap: var(--sky-font-size-md);
    margin-top: var(--sky-font-size-md);
  }
  
  /* === Responsive === */
  @media (max-width: 768px) {
    .auth-wrapper {
      grid-template-columns: 1fr;
    }
  
    .auth-overlay {
      width: 100%;
      height: 50%;
      transform: translateY(0%);
    }
  
    .auth-wrapper.login .auth-overlay {
      transform: translateY(100%);
    }
  
    .auth-slide {
      grid-column: 1 / -1;
      padding:var(--sky-font-size-3xl) var(--sky-font-size-xl) ;
    }
  }
  